.intro
  .wrapper
    .topbar
      .logo
        Brail
      .phone
        (499) 755-80-93

    .title
      Оборудование переговорных комнат под ключ
      %br
      по всей России

    .button#scroll-to-form-button Заказать рассчет проекта



%section
  .wrapper
    .title
      Наши решения

    .solutions
      .solution
        .image
          %img{src: '/images/photo_1.png'}
        .about
          .name Конференц зал
          .content
            Многофункциональное помещение, предназначенное
            для презентаций, совещаний, конференций,
            торжественных и концертных мероприятий, уровень
            проведения которых и достигаемый в итоге эффект
            во многом определяются применяемыми
            техническими средствами.
      .solution
        .image
          %img{src: '/images/photo_2.png'}
        .about
          .name Переговорная
          .content
            Место где происходит обсуждение особо важных
            вопросов, а также проходят встречи с партнерами
            и заказчиками должно отражать стиль компании и,
            в то же время, помогать людям максимально
            сосредоточиться на обсуждаемом вопросе.
            Комплексное оборудование переговорной комнаты
            позволяет создать удобные условия для работы
            и решать существенные вопросы для развития
            компании.

      .solution
        .image
          %img{src: '/images/photo_3.png'}
        .about
          .name Ситуационный центр
          .content
            Ситуационный центр представляет собой
            программно-аппаратный комплекс,
            обеспечивающий интеграцию средств связи,
            хранения и обработки данных, визуализации
            информации. Создание ситуационных центров
            является сегодня одной из актуальнейших задач
            повышения эффективности управленческой
            деятельности.


%section.clients.strip
  .wrapper
    .title Наши клиенты
    %img{src: '/images/clients.png'}

%section.strip
  .wrapper
    .title Наше оборудование
    %img{src: '/images/brands.png'}


= haml :form
