%section
  .wrapper
    .title
      Наши решения

    .solutions
      .solution
        .image
          %img{src: '/images/photo_4.png'}
        .about{style: 'padding-top: 0px;'}
          .name Учебная аудитория
          .content
            В ходе занятий у преподавателя может возникнуть
            потребность в демонстрации самой разнообразной
            информации. Это могут быть учебные видеофильмы,
            слайды, анимационные ролики, демонстрация схем,
            графиков, таблиц. Современное презентационное
            оборудование, которое помогает учащимся,
            сотрудникам фирм, проходящим курсы
            переподготовки специалистов или курсы повышения
            квалификации, лучше усваивать учебный материал
            и запоминать большие объемы разнородной
            информации.

      .solution
        .image
          %img{src: '/images/photo_5.png'}
        .about{style: 'padding-top: 30px;'}
          .name Актовый зал
          .content
            Актовый зал для многих учебных заведений это
            не просто место проведения отчетных собраний
            но и место проведения собраний, концертов,
            проведения презентаций, выступление лекторов.
            Таким образом в современном учебном заведении
            актовый зал становится многофункциональным
            учебно-развлекательным центром культурной,
            научной и досуговой деятельности.

      .solution
        .image
          %img{src: '/images/photo_6.png'}
        .about{style: 'padding-top: 0px;'}
          .name
            Дистанционное
            %br
            образование
          .content
            Дистанционное обучение не имеет границ. С его
            помощью можно как учить временно отсутствующих
            детей (болеющих дома), детей с физическими
            отклонениями находящихся на домашнем обучении,
            одаренных детей, проводить курсы повышения
            квалификации. Дистанционное обучение позволяет
            проводить обучение в реальном режиме времени
            (так называемое синхронное обучение) и обучение
            в свободное время, выполнение домашних занятий,
            тестов Современные программные и технические
            средства позволяют объединить эти два типа
            обучения в единую систему
