%section
  .wrapper
    .title
      Наши решения

    .solutions
      .solution
        .image
          %img{src: '/images/photo_7.png'}
        .about
          .name Конференц зал
          .content
            Многофункциональное помещение, предназначенное
            для презентаций, совещаний, конференций,
            торжественных и концертных мероприятий, уровень
            проведения которых и достигаемый в итоге эффект
            во многом определяются применяемыми
            техническими средствами.
      .solution
        .image
          %img{src: '/images/photo_8.png'}
        .about{style: 'padding-top: 30px;'}
          .name Ситуационный центр
          .content
            Ситуационный центр представляет собой
            программно-аппаратный комплекс,
            обеспечивающий интеграцию средств связи,
            хранения и обработки данных, визуализации
            информации. Создание ситуационных центров
            является сегодня одной из актуальнейших задач
            повышения эффективности управленческой
            деятельности.

      .solution
        .image
          %img{src: '/images/photo_9.png'}
        .about
          .name Зал совещаний
          .content
            Залы соещаний, построенные по новейшим
            технологиям, дают возможность руководителям
            государственных, коммерческих и промышленных
            компаний эффективно управлять  рабочими
            процессами  на основе поступающей информации
            в режиме реального времени.
